@font-face {
	font-family: 'BebasNeueRegular';
	src: url('c/BebasNeue-webfont.eot');
	src: url('http://tympanus.net/Tutorials/CSS3FullscreenSlideshow/css/fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
     	url('http://tympanus.net/Tutorials/CSS3FullscreenSlideshow/css/fonts/BebasNeue-webfont.woff') format('woff'),
     	url('http://tympanus.net/Tutorials/CSS3FullscreenSlideshow/css/fonts/BebasNeue-webfont.ttf') format('truetype'),
     	url('http://tympanus.net/Tutorials/CSS3FullscreenSlideshow/css/fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}
* {
	margin:0px;
}
body {
	height: 100%;
	background: #1f2327;
	padding-bottom: 35px
}
::selection {
	background: yellow;
}
.ul {
	list-style:none;
}
.container {
	width: 100%;
	height: 177px;
	display:block;
	background: #3d464e;
	font-family: BebasNeueRegular;
	margin-top: 50px;

}
.container ul {
	position: relative;
	height: 177px;
	width: 100%;
	display:block;
	background: #4d5a65;
	overflow: hidden;
}
.container li {
	overflow: hidden;
	width: 72px;
	display: block;
	position: relative;
	height: 177px;
	float: left;
	cursor: pointer;
	padding-top: 75px;
}
.facebook {
	margin-left: 75px;
	border-left: #3d464e 2px solid;
	border-right: #3d464e 1px solid;
	padding-left: 30px;
}
.facebook:hover {
	background: rgb(19, 55, 131);
	width: 200px;
	font-size: 48px;
}
.twitter {
	border-left: #3d464e 1px solid;
	border-right: #3d464e 1px solid;
	padding-left: 30px;

}
.twitter:hover {
	background: #3c8fc9;
	width: 200px;
	font-size: 48px
}
.instagram {
	border-left: #3d464e 1px solid;
	border-right: #3d464e 1px solid;
	padding-left: 15px;
}
.instagram:hover {
	background-color: rgb(81,127,164);
	width: 200px;
	font-size: 48px
}
.github {
	border-left: #3d464e 1px solid;
	border-right: #3d464e 1px solid;
	padding-left: 40px;

}
.github:hover {
	background: #989898;
	width: 200px;
	font-size: 48px
}
.contactme {
	border-right: #3d464e 2px solid;
	border-left: #3d464e 1px solid;
	padding-left: 20px;
}
.contactme:hover {
	background: #00FF00;
	width: 200px;
	font-size: 48px
}
.leftcontent h1, h2{
	color: rgb(0, 170, 240);
	line-height: 33px;
	text-decoration: none;
	font-size: 50px;
	margin-top: 25px;
	margin-bottom: 5px;
	font-family: BebasNeueRegular, Helvetica, Arial, sans-serif;
	letter-spacing: 1px;
	padding-left: 125px
}
.leftcontent h2 {
	font-size: 16px;
	margin-bottom: 60px;
	font-family: Helvetica, Arial, sans-serif;
	color: #657381;
	line-height: 16px;
	letter-spacing: 1px;

}
.leftcontent h3 {
	font-family: BebasNeueRegular;
	font-weight: normal;
	font-size:24px;
	display: inline;
	padding-left: 15px;
	color: black;
	border-left: #1b1e22 110px solid;
}
.leftcontent h3:hover {
	border-left: #262b30 110px solid;
	color: rgb(0, 170, 240);

}
.leftcontent p {
	color: #657381;
	font-size: 12px;
	line-height: 16px;
	letter-spacing: 1px;
	font-family: "Helvetica Neue", Arial, sans-serif;
	margin-left: 125px
}
.rightcontent {
	margin-top: 127px;
	margin-right: 50px;
	height:500px;
	width: 190px;
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	z-index: -1;
	background: #262b30;
	padding-top: 144px;
 	padding-left: 15px;
 	padding-right: 15px;
 	padding-bottom: 40px;
 	color: #9eaebe;
 	font-size: 11px;
 	overflow: hidden;
}
.rightcontent h2 {
	color: #00aaf0;
   	font-size: 18px;
   	font-family: BebasNeueRegular, Helvetica, Arial, sans-serif;
   	margin-bottom: 8px;
   	letter-spacing: 1px;
   	margin: 0
}
.rightcontent h3{
	color: #9eaebe;
	font-size: 13px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	letter-spacing: 1px;
	line-height: 23px;
}
.rightcontent ul {
	list-style: none;
}
.footer {
	width: 100%;
	height: 50px;
	position: fixed;
	bottom: 0;
}
a {
	font-style: none;
}
a:visited {
	color: lightblue
}

